<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="editarPersonaje()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required />
      <small *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">Campo requerido</small>
    </div>
    <div>
      <label for="clase">Clase:</label>
      <select id="clase" formControlName="clase" (change)="actualizarRamas($event)" required>
        <option *ngFor="let clase of clases" [value]="clase.nombre">{{ clase.nombre }}</option>
      </select>
      <small *ngIf="form.get('clase')?.invalid && form.get('clase')?.touched">Campo requerido</small>
    </div>

    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion" required></textarea>
      <small *ngIf="form.get('descripcion')?.invalid && form.get('descripcion')?.touched">Campo requerido</small>
    </div>
    <div>
      <label for="subclase">Subclase:</label>
      <select id="subclase" formControlName="subclase">
        <option *ngFor="let rama of ramasDisponibles" [value]="rama">{{ rama }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="form.invalid">Guardar Cambios</button>
  </form>
</div>