.main-header {
    height: 12%;
    display: flex;
    background: rgb(19,110,223);
    background: radial-gradient(circle, rgba(19,110,223,1) 0%, rgba(2,12,25,1) 65%, rgba(0,0,0,0.9934174353335085) 100%); 
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #6f6f6f; 
    color:rgb(230, 197, 11);
  }

  .alianza img{
    height: 80%;
  }
  .alianza img:hover{
    transform:rotate(360deg);
    transition:1s ease;
  }

  .horda img:hover{
    transform:rotate(360deg);
    transition:1s ease;
  }
  .horda img{
    height: 80%;
  }
  .titulo{
    flex-grow:1;
   
  }
  .main-header h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #000; 
  }
  
  
  .main-nav {
    margin-top: 15px;
  }
  
  .main-nav ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .main-nav li {
    display: inline; 
    margin: 0 15px; 
  }
  
  .main-nav button {
    text-decoration: none; 
    color: #ffffff; 
    padding: 8px 15px;
    background-color: #6f6f6f; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  .main-nav button:hover {
    background-color: #c8c8c8;  
    color: #2a2a2a; 
  }

