<div class="lista-personajes">
  <h2>Lista de Personajes</h2>
  <ul>
    <li *ngFor="let personaje of personajes; let i = index">
      <strong>{{ personaje.nombre }}</strong> - {{ personaje.clase }} (Nivel {{ personaje.nivel }})
      <button id="detail-button" (click)="viewPersonaje(personaje.id ?? -1)">Detalles</button>
      <button id="editar" (click)="viewEditPersonaje(personaje.id ?? -1)">Editar</button>
    </li>
  </ul>
  <!-- Mensaje si no hay personajes -->
  <div *ngIf="personajes.length === 0" class="mensaje">
    No hay personajes en la lista.
  </div>
</div>