.lista-personajes {
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 2% auto;
    word-wrap: break-word;
  }
  
  h2 {
    text-align: center;
    color: #094080;
    
  }
  
  ul {
    list-style-type: none;

 
  }
  
  li {
    
    background-color: #ffffff;
    border: 1px solid #b2ebf2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #080808;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    display:flex;
    justify-content: space-between;
   
  }
  
  strong {
    color: #0c0e0d;
  }
  
  .mensaje {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #0b0c0c;
  }
  #detail-button{
    margin-right: 5px;;
  }
  #detail-button:hover{
    background-color: #55750b;
    color: #e0f7fa;
    border-radius: 6px;
  }
  #elimin:hover{
    background-color: #f01313;
    color: #e0f7fa;
    border-radius: 6px;
  }