.lista-personajes {
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 2% auto;
    word-wrap: break-word;
  }
  
  h2 {
    font-family: 'Georgia', serif; /* Tipografía elegante */
    font-size: 1.5em; /* Tamaño de fuente */
    color: #ffd700; /* Color dorado */
    text-align: center;
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.7),  /* Sombra oscura para profundidad */
        0 0 10px rgba(0, 191, 255, 0.7), /* Sombra azul eléctrico */
        0 0 20px rgba(0, 191, 255, 0.5); /* Efecto de brillo azul */
    padding: 10px; /* Espaciado alrededor del texto */
    margin: 20px 0; /* Margen superior e inferior */
}

  
  ul {
    list-style-type: none;

 
  }
  
  li {
    
    background-color: #ffffff;
    border: 1px solid #b2ebf2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #080808;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);
    display:flex;
    justify-content: space-between;
   
  }
  
  strong {
    color: #0c0e0d;
  }
  
  .mensaje {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #0b0c0c;
  }
  #detail-button{
    font-family: 'Georgia', serif; 
    font-size: 16px;
    color: #ffd700; 
    padding: 2px 2px;
    border: 2px solid #8B4513; 
    border-radius: 8px;
    background: linear-gradient(145deg, #8B0000, #FF4500); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  #detail-button:hover{
    color: #ffffff; 
    border-color: #ffd700; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(255, 215, 0, 0.5);
  }
  #elimin{
    font-family: 'Georgia', serif; 
    font-size: 16px;
    color: #ffd700; 
    padding: 2px 2px;
    border: 2px solid #8B4513; 
    border-radius: 8px;
    background: linear-gradient(145deg, #8B0000, #FF4500); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  #elimin:hover{
    color: #ffffff; 
    border-color: #ffd700; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(255, 215, 0, 0.5);
  }
  #editar{
    font-family: 'Georgia', serif; 
    font-size: 16px;
    color: #ffd700; 
    padding: 2px 2px;
    border: 2px solid #8B4513; 
    border-radius: 8px;
    background: linear-gradient(145deg, #8B0000, #FF4500); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

  }
  #editar:hover{
    color: #ffffff; 
    border-color: #ffd700; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(255, 215, 0, 0.5);

  }
