
.container {
    font-family: 'Arial', sans-serif; 
    color: #f1f1f1; 
    background-image: url("https://e0.pxfuel.com/wallpapers/913/161/desktop-wallpaper-warcraft-battle-for-azeroth-hell-wow-battle-for-azeroth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 95vh;
  }
  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  .personaje-section {
    background-color: #333; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }

  

