.lista-personajes {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    word-wrap: break-word;
  }
  
  h2 {
    text-align: center;
    color: #006064;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    background-color: #ffffff;
    border: 1px solid #b2ebf2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #00796b;
   
  }
  
  strong {
    color: #00796b;
  }
  
  .mensaje {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #006064;
  }
  #detail-button{
    margin-right: 5px;;
  }
  #detail-button:hover{
    background-color: #55750b;
    color: #e0f7fa;
    border-radius: 6px;
  }
  #elimin:hover{
    background-color: #f01313;
    color: #e0f7fa;
    border-radius: 6px;
  }