<div class="editar-personaje">
  <h2>Editar</h2>
  <form (ngSubmit)="editarPersonaje(nombre.value, clase.value, nivel.value, descripcion.value, rama.value)">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" #nombre [value]="personaje?.nombre" required />
    </div>
    <div>
      <label for="clase">Clase:</label>
      <select #clase required>
        <option *ngFor="let clase of clases" [value]="clase">{{ clase }}</option>
      </select>
    </div>
    <div>
      <label for="nivel">Nivel:</label>
      <input type="number" #nivel [value]="personaje?.nivel" required />
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <input type="text" #descripcion [value]="personaje?.descripcion" required />
    </div>
    <div>
      <label for="rama">Rama:</label>
      <input type="text" #rama [value]="personaje?.rama" required />
    </div>
    <button type="submit">Editar</button>
  </form>
</div>

  
